<% include ../partials/header %>
    <div class="row">
        <div class="jumbotron">
                <h1 style="text-align: center">Edit <%= photo.name %></h1>
        </div>
        
        <div style="width: 30%; margin: 25px auto;">
            <form action="/photos/<%=photo._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" value="<%= photo.name %>">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" value="<%= photo.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-outline-secondary btn-block">Update!</button>
                </div>
            </form>
            <a href="/photos">Go Back</a>
        </div>
    </div>
<% include ../partials/scripts %>
<% include ../partials/footer %>

