<% include ../partials/header %>
<div class="container">
    <div style="width: 30%; margin: 25px auto;">
        <div class="row">
            <h1 style="text-align: center">Now we have</h1>
            <br>
            <h3>Data: <%= data %></h3>
        </div>
        <a href="/api"><button class="btn btn-outline-secondary btn-block">Go Back</button></a>
    </div>
</div>
<% include ../partials/footer %>