<% include ../partials/header %>
<div class="container">
    <div style="width: 30%; margin: 25px auto;">
        <div class="row">
            <h1 style="text-align: center">Now we have</h1>
            <br>
            <h3>Username: <%= data.username %></h3>
            <br>
            <h3>Password: <%= data.password %></h3>
            <br>
            <h3>Dates: <%= data.dates %></h3>
        </div>
        <br>
        <a href="/api"><button class="btn btn-outline-secondary btn-block">Go Back</button></a>
    </div>
</div>
<% include ../partials/footer %>