<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center">Test API Template</h1>
    </div>
    <div style="width: 30%; margin: 25px auto;">
        <form action="test" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <br>
            <div class="form-group">
                <input  class="form-control " id="dates" type="text" Placeholder="주문일자" name="dates" />
            </div>
            <br>
            <div class="form-group">
                <input  class="form-control " id="keyword" type="text" Placeholder="keyword" name="keyword" />
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-outline-secondary btn-block">Show!</button>
            </div>
        </form>
        <br>
        <a href="/api"><button class="btn btn-outline-secondary btn-block">Go Back</button></a>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
    $('input[name="dates"]').daterangepicker({
opens: 'left'
}, function(start, end, label) {
console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
});
</script>
<% include ../partials/scripts %>
<% include ../partials/footer %>