<% include ../partials/header %>
<% include ../partials/sheetjs %>
<div class="container">
    <div style="mx-auto;">
        <div class="jumbotron">
            <h1 style="text-align: center">Excell File Loaded</h1>
        </div>
        <p>Filename:
            <%= filename %>
        </p>
        <p>Sheetname:
            <%=sheetname %>
        </p>
        <div id="datatable" class="no-more-tables" contenteditable='true'>
            <%- table %>
        </div>
        <br>
        <a href="/api/xlsx"><button class="btn btn-outline-secondary btn-block">Go Back</button></a>
    </div>
</div>
<% include ../partials/scripts %>
<script type="text/javascript" src="/scripts/xlsx-util.js"></script>
<% include ../partials/footer %>