<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center">Cafe24 관리</h1>
    </div>

    <div style="width: 30%; margin: 25px auto;">
        <br><br>
        <a href="/cafe24/orders"><button class="btn btn-outline-secondary btn-block">cafe24 주문관리</button></a>
        <br>
        <a href="/cafe24/item"><button class="btn btn-outline-secondary btn-block">cafe24 제품관리</button></a>
        <br>
        <a href="/cafe24/search"><button class="btn btn-outline-secondary btn-block">cafe24 제품검색</button></a>
        <br>
        <a href="/api"><button class="btn btn-outline-secondary btn-block">관리 홈</button></a>
    </div>
</div>
<% include ../partials/scripts %>
<% include ../partials/footer %>