<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center">티몰 관리</h1>
    </div>

    <div style="width: 30%; margin: 25px auto;">
        <br><br>
        <a href="/tmall/orders"><button class="btn btn-outline-secondary btn-block">티몰 주문관리</button></a>
        <br>
        <a href="/tmall/item"><button class="btn btn-outline-secondary btn-block">티몰 제품관리</button></a>
        <br>
        <a href="/tmall/search"><button class="btn btn-outline-secondary btn-block">티몰 세관등록</button></a>
        <br>
        <a href="/api"><button class="btn btn-outline-secondary btn-block">관리 홈</button></a>
        <br>
        <a href="/tmall/celldown"><button class="btn btn-outline-secondary btn-block">해관신청용 파일 다운로드</button></a>
    </div>
</div>
<% include ../partials/scripts %>
<% include ../partials/footer %>