<% include ../partials/header %>
<% include ../partials/sheetjs %>

<div class="jumbotron">
    <h1 style="text-align: center">티몰 주문 리스트</h1>
</div>
<div id="datatable" class="no-more-tables" contenteditable='true'>
    <%- table %>
</div>
<br>
<nav class="navbar nav-bottom navbar-expand-sm navbar-light bg-light">
    <div class="mx-auto">
        <!--           <div class="form-goup" id="xportxlsx">  -->
        <input class="btn btn-outline-secondary" type="submit" name="submit" value="Export to XLSX!"
            onclick="doit('xlsx', '주문화일.xlsx');">
        <!--            </div>  -->
        <a href="/tmall/orders"><button class="btn btn-outline-secondary">다른 티몰오더보기</button></a>
        <a href="/tmall/item"><button class="btn btn-outline-secondary">티몰 제품관리</button></a>
        <a href="/tmall/search"><button class="btn btn-outline-secondary">티몰 제품검색</button></a>
        <a href="/tmall"><button class="btn btn-outline-secondary">티몰 홈</button></a>
        <a href="/api"><button class="btn btn-outline-secondary">관리 홈</button></a>
    </div>
</nav>
</div>

<% include ../partials/scripts %>
<script type="text/javascript" src="/scripts/xlsx-util.js"></script>
<% include ../partials/footer %>