<% include ../partials/header %>
<div class="container">

	<h1 style="text-align: center">제품검색</h1>
	<div style="width: 30%; margin: 25px auto;">
		<form action="search" method="post">
			<br>
			<div class="form-group">
				<input class="form-control " id="keyword" type="text" Placeholder="keyword" name="keyword" />
			</div>
			<br>
			<div class="form-goup">
				<input class="btn btn-outline-secondary btn-block" type="submit" name="submit" value="입력">
			</div>
			<br>
		</form>
	</div>
	<nav class="navbar nav-bottom navbar-expand-sm navbar-light bg-light">
		<div class="mx-auto">
			<a href="/tmall/orders"><button class="btn btn-outline-secondary">티몰 주문관리</button></a>
			<a href="/tmall/item"><button class="btn btn-outline-secondary">티몰 제품관리</button></a>
			<a href="/api"><button class="btn btn-outline-secondary">관리 홈</button></a>
		</div>
	</nav>
</div>
<% include ../partials/scripts %>
<% include ../partials/footer %>