<% include ../partials/header %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="container">
    <div >
        <h1 style="text-align: center">해관신청용 엑셀시트 다운로드성공</h1>
        
        <div id="data-table">
            <%- Orders %>
        </div>
        

            <a href="/">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/scripts %>
<script type="text/javascript" src="/scripts/xlsx-util.js"></script>
<% include ../partials/footer %>