<% include ../partials/header.ejs %>
<div id="u4" class="ax_default heading_1">
	<div id="u4_div" class=""></div>
	<div id="u4_text" class="text ">
		<p><span>Product by Brands : admin</span></p>
	</div>
</div>
<form id="create_brand" action="/admin/create_brand" name="form" method="post">
	<div class="col-lg-12">
		<div class="in-input">
			<input class="form-control " id="brand_name" type="text" Placeholder="New Brand name" name="brand_name" />
		</div>


		<div class="in-btn">
			<input class="btn btn-primary" type="submit" name="submit" value="+ Create Brand">
		</div>
	</div>
</form>

<div class="container">


	<table id="example" class="table table-bordered">
		<thead>
			<tr>
				<th>Brands</th>
				<th>View</th>
				<th>Backup</th>


				<th>Delete</th>

			</tr>
		</thead>
		<tbody>
			<% data.forEach(function(r, index) { %>
			<tr>

				<td>
					<%= r.name %>
				</td>
				<td><a href="/collection_view/<%= r.sheet_id %>/<%= r.name %>" class="btn-primary btn">View</a></td>
				<td><a href="" class="btn-primary btn">Backup</a></td>

				<td><a onclick="return confirm('Are you sure to want to delete this brand?');" href="/delete_brand/<%= r.sheet_id %>"
					 class="btn-primary btn">Delete</a></td>
			</tr>
			<% }); %>
		</tbody>
	</table>


</div>
<%include ../partials/scripts %>
<script>

	$(document).ready(function () {
		$('#example').dataTable();

		$("#brand_name").keypress(function (event) {
			var ew = event.which;
			if (ew == 8)
				return true;
			if (48 <= ew && ew <= 57)
				return true;
			if (65 <= ew && ew <= 90)
				return true;
			if (97 <= ew && ew <= 122)
				return true;
			return false;
		});

		$("#create_brand").validate({
			rules: {
				brand_name: { required: true, alphanumeric: true }

			},
			messages: {
				brand_name: { required: "Please enter brand name.", alphanumeric: "Please enter valid brand name." }
			},
			submitHandler: function (form) {
				form.submit();
			}
		});
	});

</script>

<%include ../partials/footer %>