<!DOCTYPE html>
<html>
  <head>
    <title>Collection View</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/collection_view/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/collection_view/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u4" class="ax_default heading_1">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text ">
          <p><span>My Collections: My_ID</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) [footnote] -->
      <div id="u4_ann" class="annotation"></div>

      <!-- Unnamed (Table) -->
      <div id="u5" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u6" class="ax_default table_cell">
          <img id="u6_img" class="img " src="images/collection_view/u6.png"/>
          <div id="u6_text" class="text ">
            <p><span>Collections</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u7" class="ax_default table_cell">
          <img id="u7_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u8" class="ax_default table_cell">
          <img id="u8_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u9" class="ax_default table_cell">
          <img id="u9_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u10" class="ax_default table_cell">
          <img id="u10_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11" class="ax_default table_cell">
          <img id="u11_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u12" class="ax_default table_cell">
          <img id="u12_img" class="img " src="images/collection_view/u12.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13" class="ax_default table_cell">
          <img id="u13_img" class="img " src="images/collection_view/u6.png"/>
          <div id="u13_text" class="text ">
            <p><span>13Month F/W 2017</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u14" class="ax_default table_cell">
          <img id="u14_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15" class="ax_default table_cell">
          <img id="u15_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u16" class="ax_default table_cell">
          <img id="u16_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u17" class="ax_default table_cell">
          <img id="u17_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u18" class="ax_default table_cell">
          <img id="u18_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u19" class="ax_default table_cell">
          <img id="u19_img" class="img " src="images/collection_view/u12.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u20" class="ax_default table_cell">
          <img id="u20_img" class="img " src="images/collection_view/u6.png"/>
          <div id="u20_text" class="text ">
            <p><span>13Month S/S 2017</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u21" class="ax_default table_cell">
          <img id="u21_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u22" class="ax_default table_cell">
          <img id="u22_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u23" class="ax_default table_cell">
          <img id="u23_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u24" class="ax_default table_cell">
          <img id="u24_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u25" class="ax_default table_cell">
          <img id="u25_img" class="img " src="images/collection_view/u7.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u26" class="ax_default table_cell">
          <img id="u26_img" class="img " src="images/collection_view/u12.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u27" class="ax_default table_cell">
          <img id="u27_img" class="img " src="images/collection_view/u27.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u28" class="ax_default table_cell">
          <img id="u28_img" class="img " src="images/collection_view/u28.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u29" class="ax_default table_cell">
          <img id="u29_img" class="img " src="images/collection_view/u28.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u30" class="ax_default table_cell">
          <img id="u30_img" class="img " src="images/collection_view/u28.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u31" class="ax_default table_cell">
          <img id="u31_img" class="img " src="images/collection_view/u28.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u32" class="ax_default table_cell">
          <img id="u32_img" class="img " src="images/collection_view/u28.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u33" class="ax_default table_cell">
          <img id="u33_img" class="img " src="images/collection_view/u33.png"/>
        </div>
      </div>

      <!-- Unnamed (Table) [footnote] -->
      <div id="u5_ann" class="annotation"></div>

      <!-- Unnamed (HTML Button) -->
      <div id="u34" class="ax_default html_button">
        <input id="u34_input" type="submit" value="EDIT"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u34_ann" class="annotation"></div>

      <!-- Unnamed (HTML Button) -->
      <div id="u35" class="ax_default html_button">
        <input id="u35_input" type="submit" value="UPLOAD"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u35_ann" class="annotation"></div>

      <!-- Unnamed (HTML Button) -->
      <div id="u36" class="ax_default html_button">
        <input id="u36_input" type="submit" value="IMPORT"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u37" class="ax_default html_button">
        <input id="u37_input" type="submit" value="EDIT"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u38" class="ax_default html_button">
        <input id="u38_input" type="submit" value="Export"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u38_ann" class="annotation"></div>

      <!-- Unnamed (Text Field) -->
      <div id="u39" class="ax_default text_field">
        <input id="u39_input" type="text" value="New collection name "/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u40" class="ax_default html_button">
        <input id="u40_input" type="submit" value="+Create collection"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u40_ann" class="annotation"></div>

      <!-- Unnamed (HTML Button) -->
      <div id="u41" class="ax_default html_button">
        <input id="u41_input" type="submit" value="Export"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u42" class="ax_default html_button">
        <input id="u42_input" type="submit" value="IMPORT"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u42_ann" class="annotation"></div>

      <!-- Unnamed (HTML Button) -->
      <div id="u43" class="ax_default html_button">
        <input id="u43_input" type="submit" value="UPLOAD"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u44" class="ax_default html_button">
        <input id="u44_input" type="submit" value="DELETE"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u44_ann" class="annotation"></div>

      <!-- Unnamed (HTML Button) -->
      <div id="u45" class="ax_default html_button">
        <input id="u45_input" type="submit" value="DELETE"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u46" class="ax_default html_button">
        <input id="u46_input" type="submit" value="DUPLICATE"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u46_ann" class="annotation"></div>

      <!-- Unnamed (HTML Button) -->
      <div id="u47" class="ax_default html_button">
        <input id="u47_input" type="submit" value="DUPLICATE"/>
      </div>
    </div>
  </body>
</html>
